<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.fnscrypto.OperationsActivity"></activity>
        <activity android:name="com.example.fnscrypto.RegistrationConfirmActivity" />
        <activity android:name="com.example.fnscrypto.ProfileActivity" />
        <activity android:name="com.example.fnscrypto.ConfirmOperationActivity" />
        <activity android:name="com.example.fnscrypto.ContinueRegistrationActivity" />
        <activity android:name="com.example.fnscrypto.RegistrationActivity" />
        <activity
            android:name="com.example.fnscrypto.MainActivity"
            android:theme="@style/generalNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
